 *{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
  
body {
	font-family: "Poppins", sans-serif;
	font-family: "Nunito", sans-serif;
}

.col-2 {
	flex: 0 0 16.66667%;
	max-width: 16.66667%;
}
  
.col-3 {
	flex: 0 0 25%;
	min-width: 25%;
}
  
.col-4 {
	flex: 0 0 33.33333%;
	max-width: 33.33333%;
}
  
.col-6 {
	flex: 0 0 50%;
	max-width: 50%;
}
  
.col-8 {
	flex: 0 0 66.66667%;
	max-width: 66.66667%;
}
  
.col-9 {
	display: flex;
	flex: 0 0 75%;
	max-width: 75%;
}
  
.col-12 {
	flex: 0 0 100%;
	max-width: 100%;
}

.top-navbar {
	display: flex;
	align-items: center;
    justify-content: center;
	background-color: #0C4B35;
	height: 60px;
}

.container {
	width: 1430px;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}
  
.row {
	display: flex;
	align-items: center;
}

.email, .contacts, .location {
	display: flex;
	align-items: center;
    font-size: 14px;
	margin-left: 30px;
    color: white;
    line-height: 13px;
  }

.text-item{
	margin-left: 12px;
	font-weight: 200;
}

.lang {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
  }

.lang a {
	font-size: 14px;
	color: white;
	text-decoration: none;
}
  
.lang i {
	margin-left: 5px;
}

.logo {
	position: relative;
	margin-top: 15px;
  }
  .logo img {
	padding-left: 26px;
  }

.nav{
    display: none;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 40px;
}

.menu li img {
    padding-left: 5px;
}

.menu a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    text-transform: capitalize;
}

.menu a:hover {
    color: #00730C;
 }
  
ul {
    display: flex;
    list-style: none;
}
  
  .btn-call {
    display: flex;
    justify-content: flex-end;
}

/*---------BUTTON---------*/
.call-us {
    position: relative;
    background-color: #00730C;
    border: none;
    width: 170px;
    padding: 9px 0px;
    border-radius: 6px;
  }
  .call-us a {
    display: flex;
    align-items: center;
    font-family: "Nunito", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    margin-left: 32px;
  }
  
  .call {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }



@media (max-width: 767px){
    .top-navbar {
       height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #0c4b35;
    }
    .row{
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
    .text-item{
        display: none;
    }
    .email, .contacts, .location{
		margin-left: 5px;
        padding-right: 15px;
	}
    .email img, .contacts img, .location img{
		width: 20px;
	}
    .logo {
        position: relative;
        
}
    .logo img {
        padding-left: 6px;
      }
    
}

@media (max-width: 767px){
    .lang{
        display: flex;
        justify-content: flex-end;
    }
    .lang a{
        color: white;
        text-decoration: none;
        font-weight: 100;
    }
}

@media (max-width: 767px) {
    header .navbar-mob {
        display: flex;
        justify-content: space-between;
    }
    .logo img {
		width: 88%;
	  }
}

@media (max-width: 767px){
   header .navbar-mob .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .nav a{
        padding-right: 40px;
        margin-top: 8px;
    }
}

@media (max-width: 767px){
    .header .header-nav{
        display: none;
    }
}

@media (min-width: 768px){
    .header .navbar-mob{
        display: none;
    }
    .top-navbar{
        width: 100% !important;
       
    }
}

@media (max-width: 767px){
    header .header-mob {
        display: flex;
        width: 100%;
        height: 240px;
        background-image: url(/img/Img.jpg);
        background-size: cover;
        margin-top: 7px;
    }
}











